
.navbar-brand{
    font-weight: bold;
}
/* utility/tombol */
.tombol{
    border-radius: 30px;
}

/* Dektop */
@media (min-width: 992px) {
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover:after{
        content: '';
        display: block;
        border-bottom: 3px solid #000;
        width: 50%;
        margin: auto;
        margin-bottom: -3px;
    }

}